*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    padding: 40px;
    background: rgb(70, 69, 69);
    color: white;
}

#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 20px auto 0;
    background-image: url('./img/canvas.png');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 400px;
    animation: block 2s infinite;
    -webkit-animation: block 2s infinite;
}

@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color: #71C5CF;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite;
    -webkit-animation: block 2s infinite;
}